/* You can add global styles to this file, and also import other style files */



*{
  // font-family: 'Roboto';
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 2px;
  box-sizing: border-box;
}
