<div class="speech-form">
    <h1>Voice recognition</h1>

    <label for="">Select desired language:</label>
    <select [(ngModel)]="language">
      <option *ngFor="let language of languages" [value]="language.value">{{language.label}}</option>
    </select>


    <button class="control" (click)="toggle()">{{ !isRecording ? 'Record' : 'Pause'}}</button>
    <p class="result" *ngIf="result.text">{{result.text}}</p>

    <p class="result" *ngIf="result.progress">{{result.progress}}</p>

    <button class="play" *ngIf="audio" (click)="audio.play()">{{ 'Play:   Recording #1.mp3'}}</button>

</div>
